name: publish python package to PyPI

on:
  release:
    types: [published]
  push:
    # Alternative: only build for tags.
    tags:
      - 'v*'
jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:

    - uses: actions/checkout@v4
      with:
        submodules: 'recursive'

    - name: build wheels
      uses: pypa/cibuildwheel@v2.16.5
      env:
        CIBW_BUILD_FRONTEND: build
        CIBW_SKIP: "*-win32 *-manylinux_i686 pp*"

    - uses: actions/upload-artifact@v4
      with:
        name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
        path: ./wheelhouse/*.whl

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build sdist
        run: pipx run build --sdist

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-sdist
          path: dist/*.tar.gz

  upload:
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      id-token: write
    steps:
    - uses: actions/download-artifact@v4
      with:
        # unpacks all CIBW artifacts into dist/
        pattern: cibw-*
        path: dist
        merge-multiple: true

    - name: publish to Test PyPI
      uses: pypa/gh-action-pypi-publish@v1.8.12
      with:
        repository-url: https://test.pypi.org/legacy/
        packages-dir: dist/

    - name: publish to PYPI
      if: github.event_name == 'release' && github.event.action == 'published'
      uses: pypa/gh-action-pypi-publish@v1.8.12
      with:
        packages-dir: dist/


